.threadauthor
{
    color: #0064AF;
}

.postauthor 
{
    color: #0064AF;
}
.postlz 
{
    color: #DC143C;
}
.postcontent {
}

.postreply {
	color: gray;
}

.postindex {
	color: gray;
    padding-top:2px;
    padding-bottom:2px;
}
.subjecttitle {
	color: #0064AF;
	padding-left: 5px;
}

.loading {
	color: #DC143C;
}

.copyright {
	color: gray;
	font-size:20px;
}